{% extends 'base.html' %} 
{% block content %}

<h1>Car Details</h1>


<div class="card">
    <h5 class="card-header">
        <strong>{{ car_detail }}</h5></strong>     <!--Take the car_detail from the views.py file from the variable-->
    <div class="card-body">
      <p class="card-text">
        <strong>ID: </strong>{{car_detail.id}}<br>                        <!--Get the employee_record from the views.py function-->
        <strong>Year: </strong>{{ car_detail.year }}<br>
        <strong>Make: </strong>{{ car_detail.model.make.make }}<br>
        <strong>Model: </strong>{{ car_detail.model.model }}<br>
        <strong>Color: </strong>{{ car_detail.color }}<br>
        <strong>Miles: </strong>{{ car_detail.miles }}<br>
        <strong>Price: </strong><body>$</body>{{ car_detail.price }}<br></p>
    
    </div>
</div>

  <br><br>
  
  <div class="d-flex justify-content-between">
    <div>
      <a href="{%url 'inventory' %}" class="btn btn-secondary">Back</a>

      <a href="{%url 'updateCarRecord' car_detail.id %}" class="btn btn-secondary">Update</a> 
    </div>
     {% comment %} <div>
      <a href="{%url 'deleteEmployeeRecord' employee_record.id %}" class="btn btn-danger">Delete</a>          <!--URL is the name at the end of the URL.py file for the path-->
    </div>  {% endcomment %}
  </div> 









{% endblock %}