{% extends 'base.html' %} 
{% block content %}


{% if user.is_authenticated %}

<h1>The list of Customers</h1>

<form method="GET" action="">
    <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" class="form-control" value="{{ request.GET.first_name }}">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" class="form-control" value="{{ request.GET.last_name }}">
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>



<table class="table table-bordered table-striped table-hover" >
    <thead class="table-dark">
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zipcode</th>
        
        </tr>
    </thead>
    <tbody>


        
{% if customers_view %}                <!--from the views function. What the valuses are renamed as.-->

    {% for customer in customers_view %}        <!--Run a loop of all the employees-->
        <tr>   
            <td>{{ customer.id }}</td>     <!--From url.py file and where the link is to follow-->
            <td>{{ customer.customerFirstName }}
            {{ customer.customerLastName }}</a></td>
            <td>{{ customer.customerEmail }}</td>
            <td>{{ customer.customerPhone }}</td>
            <td>{{ customer.customerAddress }}</td>
            <td>{{ customer.customerCity }}</td>
            <td>{{ customer.customerState }}</td>
            <td>{{ customer.customerZip }}</td>
            
        </tr>
    {% endfor %}

{% endif %} 

    </tbody>
    </table>






{% endif %} 
{% endblock %}
