{% extends 'base.html' %} 
{% block content %}

<h1>Customer Details</h1>


<div class="card">
    <h5 class="card-header">
        <strong>{{ customer_record.customerFirstName }} {{ customer_record.customerLastName }}</h5></strong>     <!--Take the car_detail from the views.py file from the variable-->
    <div class="card-body">
      <p class="card-text">
        <strong>ID: </strong>{{ customer_record.id }} <br>                       <!--Get the employee_record from the views.py function-->
        <strong>Email: </strong>{{ customer_record.customerEmail }}<br>
        <strong>Phone: </strong>{{ customer_record.customerPhone }}<br>
        <strong>Address: </strong>{{ customer_record.customerAddress }}<br>
        <strong>City: </strong>{{ customer_record.customerCity }}<br>
        <strong>State: </strong>{{ customer_record.customerState }}<br>
        <strong>Zipcode: </strong>{{ customer_record.customerZip }}<br></p>
      
    </div>
</div>

  <br><br>

  <h2>Order History</h2>
  
  {% comment %} <div class="d-flex justify-content-between">
    <div>
      <a href="{%url 'inventory' %}" class="btn btn-secondary">Back</a>

      <a href="{%url 'updateCarRecord' car_detail.id %}" class="btn btn-secondary">Update</a> 
    </div>
    <div>
      <a href="{%url 'deleteCarRecord' car_detail.id %}" class="btn btn-danger">Delete</a>          <!--URL is the name at the end of the URL.py file for the path-->
    </div> 
  </div>  {% endcomment %}









{% endblock %}