<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>First Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <p>This Will be the Homepage</p>
    <p>This is the second sentence</p>
    <a href="secondpage.html">To Go to Second Page</a>
    <a href="inventory.html">Inventory</a>

    <!--- <script src="index.js"></script>-->
  </body>
</html>
