{% extends 'base.html' %}
<!--Takes the bootstrap configuration and puts it on this page-->

{% block content %}
<!--Anything inside will be affected by the bootstrap-->

<div class="col-md-6 offset-md-3">
  <!--bootstrap code to center everything-->

  {% if user.is_authenticated %}
  <h1>Hello</h1>
  <h1>Things to add to my project</h1>
  <h1>1. Shopping Cart</h1>
  <!-- Do research on how to do this in django -->
  <h1>2. Customer Info</h1>
  <!-- Basiclly done just a few touchups -->
   <!-- Add customer will be when checking out. 
    There will be an add customer option when checking out since a customer must be assigned to a purchase.  -->
  <h1>3. Order History</h1>
  <!-- This will be able to be viewed for each customer and see their list of orders -->
  <p>Click on a customer and be able to view their orders</p>
  <h1>4. Inventory Filter</h1>
  <!-- Add a fiter tab to the inventory page to be able to filet for car makes and or models -->


  


  {% else %}



<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}                      <!--Cross site request token to prevent hijacking from hackers (Cross Site Forgery)-->
 
    <body>
      <h1>Login</h1>
      
      
      <a href="secondpage.html">To Go to Second Page</a>
      <a href="inventory.html">Inventory</a>
      <br>
      <br>
    

    </body>
  </html>

  <form>
    <div class="mb-3">
      
      <input
        type="text"
        class="form-control"
        name="email"
        placeholder="Email"
        required
        
      />
    </div>
    <div class="mb-3">
      
      <input type="password" 
      class="form-control" 
      name="password"
      placeholder="Password"
      required />
       
      <br>

    
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</form>
  {% endif %}
  {% endblock %}
  <!--Ends the block for bootstrap changes-->
</div>
