{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
  </head>
  <body>
    <p>This will be the inventoy page</p>
    <p>This will be the table for the list of cars</p>
    <a href="firstpage.html">HomePage</a>
    <h1>Inventory</h1>
    <table border="1">
      <!-- Create table-->
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
    </table>
  </body>
</html>

{% endblock %}
