{% extends 'base.html' %} 
{% block content %}

<div class="col-md-6 offset-md-3">
<h1>Update Car</h1>
<br>
 
<form method="POST">
    {% csrf_token %} 

    {% comment %} {{ form.as_p}}                          <!--Create the form in the forms.py file--> {% endcomment %}
    
    {% for field in form %}
        <p>
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            {% if field.name == "make" %}
                <a href="{%url 'add_car_make' %}">click to add missing car make</a>
            {% elif field.name == "model" %}
                <a href="{%url 'add_car_model' %}">click to add missing car make and model</a>
            {% elif field.name == "color" %}
                <a href="{%url 'add_car_color' %}">click to add missing color</a>

            {% endif %}
        </p>
      {% endfor %} 

<button type="submit" class="btn btn-primary">Update</button>
<a href="{%url 'inventory' %}" class="btn btn-secondary">Back</a>
  

</form>
</div>


{% endblock %}